@font-face {
    font-family: 'MYHaemalgeunSangsang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYHaemalgeunSangsang.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'SUIT-Medium';
}
.top{
    position: absolute;
    border-bottom: 1px solid #808080;   
    height: 130px;
    width: 1400px;
    left:40px;
}
#logo{
    background-color: white;
    border: 3px solid white;
    position: absolute;
    left: 50px;
    top: 20px;
    font-family: 'MYHaemalgeunSangsang';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}
#login{
    padding: 0px 50px 0px 50px;
    position: absolute;
    left: 1130px;
    top: 85px;
    color:#504A4A;
    font-size: 14pt;
}

#image{
    position: absolute;
    left: 1120px;
    top:74px;
    width: 40px;
    height: 40px;
}

#nav_menu ul {
 position: absolute;
 left: 240px;
 top: 60px;
 list-style-type:none;
 padding:1px 5px 5px 1px;
 float:right;
}

#nav_menu ul li {
 display:inline;
 padding: 0px 30px 0px 30px;
 margin: 5px 0px 5px 0px;
 font-size:20pt;
 font-weight: 700;
}

#nav_menu a {
    text-decoration:none;
    color:black;
}

#nav_menu a:hover {
    color:#427585;
}

#title{
    position: absolute;
    left: 220px;
    top: 183px;
    font-size:25px;
    font-weight: 700;
}
.content{
    padding-left: 50px;
    padding-top: 30px;
    position: absolute;
    left: 220px;
    top: 247px;
    width:1000px;
    height:500px;
    border: 1px solid black;
    border-radius: 5px;
}

#top{
    font-size: 18px;
    width:900px;
    height:70px;
    border-bottom: 1px solid #898989;
}

#image_two{
    width: 20px;
    height: 20px;
}

#top ul {
    position: absolute;
    left: 50px;
    top: 50px;
    list-style-type:none;
    padding:1px 5px 5px 1px;
    float:right;
   }
   
#top ul li {
    display:inline;
    margin: 5px 0px 5px 0px;
}


#box{
    position: absolute;
    left: 60px;
    top: 120px;
    padding-top: 3px;
    width: 69px;
    height: 29px;
    font-size: 15px;
    background: #88AFBB;
    border-radius: 10px;
    color:white;
    text-align: center;
}

#middle{

    position: absolute;
    left: 60px;
    top: 150px;
    padding-right: -50px;
}

#bottom ul {
    position: absolute;
    left: 800px;
    top: 430px;
    float:right;
}
   
#bottom ul li {
    display:inline;
    padding: 5px 8px 5px 8px;
    font-size:10pt;
    border: 1px solid rgb(210, 210, 210);
}

#bottom a {
       text-decoration:none;
       color:black;
}

#finish{
    position: absolute;
    padding-top: 10px;
    text-align: center;
    top:180px;
    left:1060px;
    width: 100px;
    height: 30px;
    background-color: white;
    text-decoration: none;
    border: 1px solid red;
    color : red;
    border-radius: 5px;
    font-size: large;
}  

#finish:hover{
    background-color: red;
    color:white;
}

.comment{
    padding-left: 50px;
    width:1000px;
    height:100%;
    position: absolute;
    left: 220px;
    top: 800px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
}
hr{
    background-color: rgb(210, 210, 210);
    height:1px;
    border: 0px;
    width : 90%;
}

.submit{
    width: 50px;
    height: 30px;
    background-color: #5B91A3;
    border: #5B91A3;   
    color:white;
    border-radius: 5px;
}

.submit:hover{
    background-color: #70a7b8;
}